body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 1.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.debug {
  z-index: 999;
  position: absolute;
  left: 8px;
  top: 8px;
  padding: 8px;
  background: white;
  color: black;
  display: none;
}

a:hover {
  text-decoration: underline;
}

main {
  width: 100vw;
  height: 100vh;
  border: 0;
}

iframe {
  position: absolute;
  width: 100vw;
  height: 100dvh;
  border: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#authorName {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 100;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

#index {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  cursor: pointer;
}

#menu {
  position: fixed;
  z-index: 101;
  color: #000;
  min-height: 100vh;
  width: 100vw;
}

.menu-fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}

.menu-container {
  position: relative;
  min-height: 100vh;
  width: fit-content;
  background: #fff;
  overflow: scroll;
}

#credits {
  font-size: 1rem;
  padding-top: 2rem;
}

.p-2 {
  padding: 2rem;
}

.menu-container .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.min-safe-h-screen {
  /* equivalent to 100dvh in major browsers */

  /*
        min-height: calc(
          100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0)
        );*/
}

@supports (-webkit-touch-callout: none) {
  .min-safe-h-screen {
    /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
    min-height: -webkit-fill-available !important;
  }
}

.hidden {
  display: none;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.link.selected {
  text-decoration: underline;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.title {
  margin-bottom: 1rem;
}